@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,300&display=swap');


/*** css reset ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}





body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: default;
}


html{
  background-color: #000000;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  --TextColor1:#145B32;
  --TextColor2:#3f9f8e;

}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}


#container {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

.comentsContainer{
  width: 100vw;
  height: 100vh;
  position: relative;
  pointer-events: none;
  overflow: hidden;
}


.comentWrapper {
  position: absolute;
  bottom: 0;
  height: 20vh;
  padding: 80px 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: flex;
}
.title {
  font-size: 55px;
  color: white;

}
.text{
  opacity: 0;
}
.coment {
  width: 100%;
  font-size: 25px;
  color: white;
  line-height: 25px;
}
.text {
  display: none;
}
.comenthidden{
  display: block;
  opacity: 1;
}
.comentShow{
  opacity: 0;
}
.animateText{
  opacity: 1;
}
.title span{
  opacity: 0;
}
.comenthidden p{
  opacity: 0;
}